@import './variables';

.btn {
    background-color: $white;
    @include font-size($fs-17);
}

.btn-outline-light {
    border-radius: $border-0;
}

.btn-dark {
    background-color: $black;
    &:hover {
        background-color: $white;
        color: $black;
    }
}
