@import './variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: 'Jost', sans-serif;
}

.container-fluid {
    min-height: 100vh;
    padding: 0 10px 50px 10px;
}

input {
    background: $white;
    color: $black;
    border: 1px solid $black;
    outline: none;
    height: 38px;
    padding: 5px 10px;
    border-radius: 10px;

    &::placeholder {
        color: $black;
        font-weight: $fw-500;
    }
}

textarea {
    border-radius: 10px;
    border: 1px solid $black;
    outline: none;
    padding: 5px 10px;
}

.btn {
    --bs-btn-bg: #fff;
}

.btn-outline-light {
    border-radius: $border-0;
}
